@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Roboto, sans-serif;
    background-color: #f2f2f2;
    margin-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

main-section {
    margin: 0 auto;
    margin-top: 130px;
    padding: 0;
}

.modal-content {
    background-color: #3b4652;
    padding: 0 18px;
    border-radius: 0px;
}


.user-img {
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img {
    height: 100px;
    width: 100px;
   }

.btn1 {
    width: 40%;
    margin: 5px 0 25px;
}

.btn1 {
    background-color: #27c2a5;
    color: #fff;
    font-size: 18px;
    padding: 7px 14px;
    border-radius: 5px;
    border-bottom: 4px solid #219882;
}

.btn1:hover, .btn1:focus {
    background-color: #25a890!important;
    border-bottom: 4px solid #25a890!important;
}

.forgot {
    padding: 5px 0 25px;
}

.forgot a {
    color: #c2fbfe;
}

.course-image {
    position: absolute;
    bottom: 158px;
    left: 50px;
    border: 1px solid #000;
}

.seperator {
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.custom-Item:hover {
    text-decoration: none;
}

.btn {
    border-radius: 0px;
}

.dashboard-ui-btn {
    margin: 20px 0px 20px 17px;
}

.thumbnail .caption {
    padding-bottom: 0px;
}

.navbar-brand {
    display: block; 
    float: none;
    height: auto;
    margin: 0 !important; 
    padding: 0 20px 0 0;
}