@page
@model LIA.Admin.Pages.Users.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> User/ Edit</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(h => h.UserPageModel.Id);
            <div class="form-group">
                <label asp-for="UserPageModel.Email" class="control-label"></label>
                <input asp-for="UserPageModel.Email" class="form-control" />
                <span asp-validation-for="UserPageModel.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="UserPageModel.IsAdmin">
                        <input asp-for="UserPageModel.IsAdmin" />
                        @Html.DisplayNameFor(m => m.UserPageModel.IsAdmin)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
                @await Html.PartialAsync("_BackToList-DashboardButtonPartial")
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}