@page
@model LIA.Admin.Pages.Modules.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div>
    @await Html.PartialAsync("_CreatePageButtonPartial")
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Module.First().Title)
            </th>    
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Module) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @await Html.PartialAsync("_ButtonPartial", @item.Id.ToString())
            </td>
        </tr>
}
    </tbody>
</table>
