@using LIA.UI.Models.Membership
@model DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

@foreach (var courses in Model.Courses)
{
    <div class="row">
        @foreach (var course in courses)
        {

            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img src="@course.Image" />
                    <div class="caption">
                        <h3>@course.Title</h3>
                        <p>@course.Description</p>
                        <p>
                            <a class="btn btn-primary" asp-controller="Membership" asp-action="Course" asp-route-courseId="@course.Id">
                                View Course
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}