<div>
    <input type="submit" value="Add New" class="btn btn-info btn-lg" /> 
    <a asp-page="Index" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-menu-left"></span> Back to list
    </a>
</div>
