@using Microsoft.AspNetCore.Identity
@using LIA.Data.Data.Entities;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Courses">Course</a></li>
            <li><a class="dropdown-item" href="/Items">Item</a></li>
            <li><a class="dropdown-item" href="/Users">User</a></li>
            <li><a class="dropdown-item" href="/ItemTypes">Item Type</a></li>
            <li><a class="dropdown-item" href="/Modules">Module</a></li>
            <li><a class="dropdown-item" href="/Authors">Author</a></li>
            <li><a class="dropdown-item" href="/UserCourses">User Course</a></li>
        </ul>
    </li>
}