<div style="margin: 10px 0 10px 0">
    <a asp-page="/Index" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
    </a>
    <a asp-page="Index" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-menu-left"></span> Back to list
    </a>
</div>
