@model string

<a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model"><span class="glyphicon glyphicon-pencil"></span></a>
<a class ="btn btn-danger" asp-page="./Delete" asp-route-id="@Model"><span class="glyphicon glyphicon-remove"></span></a>
