@model string

<a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model"><span class="glyphicon glyphicon-pencil"></span></a>
@*<a asp-page="./Details" asp-route-id="@Model">Details</a>*@
<a class ="btn btn-danger" asp-page="./Delete" asp-route-id="@Model"><span class="glyphicon glyphicon-remove"</a>
