<div style="margin-bottom: 25px">
    <a asp-page="Create" class="btn btn-success btn-lg">Create New</a>
    <a asp-page="/Index" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
    </a>
</div>