<div style="margin-bottom: 25px">

    <input type="submit" value="Create" class="btn btn-success" />
    <a asp-page="/Index" class="btn btn-primary">
        <span class="glyphicon glyphicon-dashboard"></span> Dashboard
    </a>
    <a asp-page="Index" class="btn btn-info">
        <span class="glyphicon glyphicon-menu-left"></span> Back to list
    </a>
</div>