@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h3>Admin DashBoard</h3>
<hr />

<div class="row" style="padding: 25px">
    <div class="col-sm-6 text-right">
        <div style="margin-bottom: 10px">
            <a href="./Courses" type="button" class="btn btn-default btn-lg" style="text-decoration: none">
                <span class="glyphicon glyphicon-check"></span>&nbsp;Courses
            </a>
        </div>
        <div style="margin-bottom: 10px">
            <a href="./Items" type="button" class="btn btn-default btn-lg" style="text-decoration: none"><span class="glyphicon glyphicon-sort-by-attributes"></span>&nbsp;Items</a>
        </div>
        <div>
            <a href="./Users" type="button" class="btn btn-default btn-lg" style="text-decoration: none"><span class="glyphicon glyphicon-user"></span>&nbsp;Users</a>
        </div>
    </div>
    <div class="col-sm-6">
        <div style="margin-bottom: 10px"><a href="./ItemTypes" type="button" class="btn btn-default btn-lg" style="text-decoration: none">
            <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Item Types</a>
        </div>
        <div style="margin-bottom: 10px"> <a href="./Modules" type="button" class="btn btn-default btn-lg" style="text-decoration: none">
            <span class="glyphicon glyphicon-check"></span>&nbsp;Modules</a>
        </div>
        <div><a href="./Authors" type="button" class="btn btn-default btn-lg" style="text-decoration: none">
            <span class="glyphicon glyphicon-text-background"></span>&nbsp;Authors</a>
        </div>
    </div>
</div>


