@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container" style="padding-top: 25px">
    <div class="row">
        <div class="col-sm-6">
            <div class="list-group">
                <a href="./Courses" class="list-group-item active">
                    Courses
                </a>
                <a href="./Items" class="list-group-item">Items</a>
                <a href="./Users" class="list-group-item">Users</a>
                <a href="./ItemTypes" class="list-group-item">Item Types</a>
                <a href="./Modules" class="list-group-item">Modules</a>
                <a href="./Authors" class="list-group-item">Authors</a>
            </div>
        </div>
    </div>
</div>
