@page
@model LIA.Admin.Pages.Items.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> Item/ Edit</h2>
</div>

<div class="row">
    <div class="col-md-4">
        @await Html.PartialAsync("_BackToList-DashboardButtonPartial")
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Item.Id" />
            <div class="form-group">
                <label asp-for="Item.URL" class="control-label"></label>
                <input asp-for="Item.URL" class="form-control" />
                <span asp-validation-for="Item.URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Description" class="control-label"></label>
                <input asp-for="Item.Description" class="form-control" />
                <span asp-validation-for="Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ItemType" class="control-label"></label>
                <select asp-for="Item.ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypes"></select>
            </div>
            <div class="form-group">
                <label asp-for="Item.Module.Title" class="control-label"></label>
                <select asp-for="Item.ModuleId" class="form-control" asp-items="ViewBag.Modules"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
