body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(243, 236, 236);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.partial-css {
    width: 100px;
    height: 50px;
    border: 5px solid orange;
    position: relative;
}

.partial-css::after {
    content: '';
    display: block;
    position: absolute;
    width: 50px;
    bottom: -5px;
    left: 20px;
    border: 5px solid black;

}
