@page
@model LIA.Admin.Pages.UserCourses.CreateModel
@{
    ViewData["Title"] = "Create";
}

<div class="well well-lg text-center" style="margin: 20px 0 20px 0">
    <h2> UserCourses/ Create</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserCourses.User" class="control-label"></label>
                <select asp-for="UserCourses.UserId" class="form-control" asp-items="ViewBag.Users"></select>
                <span asp-validation-for="UserCourses.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCourses.Course" class="control-label"></label>
                <select asp-for="UserCourses.CourseId" class="form-control" asp-items="ViewBag.Courses"></select>
                <span asp-validation-for="UserCourses.CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add Now" class="btn btn-success" />
                @await Html.PartialAsync("_BackToList-DashboardButtonPartial")
            </div>
        </form>
    </div>
    <div class=" col-md-4">
        <p class="text-danger">
            @ViewBag.ErrorMessage
        </p>
    </div>
</div>

